.BBJ_LOGO {
	color: #195EDC;
	font-weight: 400;
	display: inline-block;
	height: 20px;
	text-indent: 15px;
	background: url(../_img_jajabi/spr_icon.png) no-repeat -6px -36px;
	font-size: 12px;
}
.newjjb
{
	display: inline-block;
	width:20px;
	height: 20px;
	overflow:hidden;
	background: url(../_img_jajabi/spr_icon.png) no-repeat -6px -36px;
}