<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">
	
	<!-- action -->
	<bean name="/policy/policyAfter"
		class="com.fdays.tsms.policy.action.PolicyAfterAction" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="policyAfterBiz">
			<ref bean="policyAfterBiz" />
		</property>
		<property name="airlinePolicyAfterBiz">
			<ref bean="airlinePolicyAfterBiz" />
		</property>
	</bean>
	<bean name="/policy/policyAfterList"
		class="com.fdays.tsms.policy.action.PolicyAfterListAction" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="policyAfterBiz">
			<ref bean="policyAfterBiz" />
		</property>
		<property name="airlinePolicyAfterBiz">
			<ref bean="airlinePolicyAfterBiz" />
		</property>
	</bean>
	
	<bean name="/policy/airlinePolicyAfter"
		class="com.fdays.tsms.policy.action.AirlinePolicyAfterAction" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="airlinePolicyAfterBiz">
			<ref bean="airlinePolicyAfterBiz" />
		</property>
	</bean>
	<bean name="/policy/airlinePolicyAfterList"
		class="com.fdays.tsms.policy.action.AirlinePolicyAfterListAction" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="airlinePolicyAfterBiz">
			<ref bean="airlinePolicyAfterBiz" />
		</property>
		<property name="airticketOrderBiz">
			<ref bean="airticketOrderBiz" />
		</property>
	</bean>
	
	<bean name="/policy/saleStatistics"
		class="com.fdays.tsms.policy.action.SaleStatisticsAction" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="saleStatisticsBiz">
			<ref bean="saleStatisticsBiz" />
		</property>
		<property name="airlinePolicyAfterBiz">
			<ref bean="airlinePolicyAfterBiz" />
		</property>
			<property name="airticketOrderBiz">
			<ref bean="airticketOrderBiz" />
		</property>
		
	</bean>
	<bean name="/policy/saleStatisticsList"
		class="com.fdays.tsms.policy.action.SaleStatisticsListAction" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="saleStatisticsBiz">
			<ref bean="saleStatisticsBiz" />
		</property>
		<property name="airlinePolicyAfterBiz">
			<ref bean="airlinePolicyAfterBiz" />
		</property>
		
	</bean>
	
	<!-- biz -->
	<bean name="policyAfterBiz"
		class="com.fdays.tsms.policy.biz.PolicyAfterBizImp" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="policyAfterDAO">
			<ref bean="policyAfterDAO" />
		</property>
	</bean>
	
	<bean name="airlinePolicyAfterBiz"
		class="com.fdays.tsms.policy.biz.AirlinePolicyAfterBizImp" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="airlinePolicyAfterDAO">
			<ref bean="airlinePolicyAfterDAO" />
		</property>
	</bean>
	
	<bean name="saleStatisticsBiz"
		class="com.fdays.tsms.policy.biz.SaleStatisticsBizImp" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="saleStatisticsDAO">
			<ref bean="saleStatisticsDAO" />
		</property>
		<property name="airticketOrderDAO">
			<ref bean="airticketOrderDAO" />
		</property>
		<property name="airlinePolicyAfterBiz">
			<ref bean="airlinePolicyAfterBiz" />
		</property>
	</bean>
	
	<!-- dao -->
	<bean id="policyAfterDAO"
		class="com.fdays.tsms.policy.dao.PolicyAfterDAOImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="airlinePolicyAfterDAO"
		class="com.fdays.tsms.policy.dao.AirlinePolicyAfterDAOImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="saleStatisticsDAO"
		class="com.fdays.tsms.policy.dao.SaleStatisticsDAOImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	
</beans>