<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">

	<bean name="sysInitBiz"
		class="com.fdays.tsms.system.biz.SysInitBizImp" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="platformDAO">
			<ref bean="platformDAO" />
		</property>
		<property name="companyDAO">
			<ref bean="companyDAO" />
		</property>
		<property name="accountDAO">
			<ref bean="accountDAO" />
		</property>
		<property name="platComAccountDAO">
			<ref bean="platComAccountDAO" />
		</property>
		<property name="paymentToolDAO">
			<ref bean="paymentToolDAO" />
		</property>
		<property name="agentDAO">
			<ref bean="agentDAO" />
		</property>
		<property name="userDAO">
			<ref bean="userDAO" />
		</property>
	</bean>

	<bean name="/system/sysloglist"
		class="com.fdays.tsms.system.action.SysLogAction" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sysLogBiz">
			<ref bean="sysLogBiz" />
		</property>
	</bean>

	<bean name="/system/loginloglist"
		class="com.fdays.tsms.system.action.LoginLogListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="loginlogBiz">
			<ref bean="loginlogBiz" />
		</property>
	</bean>

	<bean name="/system/ticketloglist"
		class="com.fdays.tsms.system.action.TicketLogListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="ticketLogBiz">
			<ref bean="ticketLogBiz" />
		</property>
	</bean>

	<bean name="loginlogBiz"
		class="com.fdays.tsms.system.biz.LoginLogBizImpl" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="loginlogDao">
			<ref bean="loginlogDao" />
		</property>
	</bean>

	<bean id="sysLogBiz"
		class="com.fdays.tsms.system.biz.SysLogBizImp">
		<property name="transactionManager" ref="transactionManager" />
		<property name="sysLogDAO">
			<ref bean="sysLogDAO" />
		</property>
	</bean>

	<bean id="ticketLogBiz"
		class="com.fdays.tsms.system.biz.TicketLogBizImp">
		<property name="transactionManager" ref="transactionManager" />
		<property name="ticketLogDAO">
			<ref bean="ticketLogDAO" />
		</property>
	</bean>


	<bean id="sysLogDAO" class="com.fdays.tsms.system.dao.SysLogDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="loginlogDao"
		class="com.fdays.tsms.system.dao.LoginLogDAOImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="ticketLogDAO"
		class="com.fdays.tsms.system.dao.TicketLogDAOImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>


</beans>