<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">

	<!-- ////////////////////////////Action//////////////////////////////// -->

	<bean name="/transaction/paymentToolList"
		class="com.fdays.tsms.transaction.action.PaymentToolListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="paymentToolBiz">
			<ref bean="paymentToolBiz" />
		</property>
	</bean>

	<bean name="/transaction/paymentTool"
		class="com.fdays.tsms.transaction.action.PaymentToolAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="paymentToolBiz">
			<ref bean="paymentToolBiz" />
		</property>
		<property name="sysInitBiz">
			<ref bean="sysInitBiz" />
		</property>
	</bean>

	<bean name="/transaction/accountList"
		class="com.fdays.tsms.transaction.action.AccountListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="accountBiz">
			<ref bean="accountBiz" />
		</property>
		<property name="paymentToolBiz">
			<ref bean="paymentToolBiz" />
		</property>
	</bean>

	<bean name="/transaction/account"
		class="com.fdays.tsms.transaction.action.AccountAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="accountBiz">
			<ref bean="accountBiz" />
		</property>
		<property name="paymentToolBiz">
			<ref bean="paymentToolBiz" />
		</property>
		<property name="sysInitBiz">
			<ref bean="sysInitBiz" />
		</property>
	</bean>

	<bean name="/transaction/companyList"
		class="com.fdays.tsms.transaction.action.CompanyListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="companyBiz">
			<ref bean="companyBiz" />
		</property>
	</bean>

	<bean name="/transaction/company"
		class="com.fdays.tsms.transaction.action.CompanyAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="companyBiz">
			<ref bean="companyBiz" />
		</property>
		<property name="sysInitBiz">
			<ref bean="sysInitBiz" />
		</property>
	</bean>

	<bean name="/transaction/platformList"
		class="com.fdays.tsms.transaction.action.PlatformListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="platformBiz">
			<ref bean="platformBiz" />
		</property>
	</bean>

	<bean name="/transaction/platform"
		class="com.fdays.tsms.transaction.action.PlatformAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="platformBiz">
			<ref bean="platformBiz" />
		</property>
		<property name="sysInitBiz">
			<ref bean="sysInitBiz" />
		</property>
	</bean>

	<bean name="/transaction/platComAccountList"
		class="com.fdays.tsms.transaction.action.PlatComAccountListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="platComAccountBiz">
			<ref bean="platComAccountBiz" />
		</property>
		<property name="companyBiz">
			<ref bean="companyBiz" />
		</property>
		<property name="platformBiz">
			<ref bean="platformBiz" />
		</property>
		<property name="accountBiz">
			<ref bean="accountBiz" />
		</property>
		<property name="paymentToolBiz">
			<ref bean="paymentToolBiz" />
		</property>
	</bean>

	<bean name="/transaction/platComAccount"
		class="com.fdays.tsms.transaction.action.PlatComAccountAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="platComAccountBiz">
			<ref bean="platComAccountBiz" />
		</property>
		<property name="companyBiz">
			<ref bean="companyBiz" />
		</property>
		<property name="platformBiz">
			<ref bean="platformBiz" />
		</property>
		<property name="accountBiz">
			<ref bean="accountBiz" />
		</property>
		<property name="sysInitBiz">
			<ref bean="sysInitBiz" />
		</property>
	</bean>

	<bean name="/transaction/agentList"
		class="com.fdays.tsms.transaction.action.AgentListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
	</bean>

	<bean name="/transaction/agent"
		class="com.fdays.tsms.transaction.action.AgentAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="companyBiz">
			<ref bean="companyBiz" />
		</property>
		<property name="sysInitBiz">
			<ref bean="sysInitBiz" />
		</property>
	</bean>

	<bean name="/transaction/listStatement"
		class="com.fdays.tsms.transaction.action.StatementListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="statementBiz">
			<ref bean="statementBiz" />
		</property>
	</bean>

	<bean name="/transaction/statement"
		class="com.fdays.tsms.transaction.action.StatementAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="statementBiz">
			<ref bean="statementBiz" />
		</property>
		<property name="airticketOrderBiz">
			<ref bean="airticketOrderBiz" />
		</property>
		<property name="ticketLogBiz">
			<ref bean="ticketLogBiz" />
		</property>
	</bean>
	
	<!-- 银行卡收付款表  ListAction -->
	<bean name="/transaction/bankCardPaymentList"
		class="com.fdays.tsms.transaction.action.BankCardPaymentListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="bankCardPaymentBiz">
			<ref bean="bankCardPaymentBiz" />
		</property>
	</bean>
	
		<!-- 平台银行卡收付款表  ListAction -->
	<bean name="/transaction/platformbankCardPaymentList"
		class="com.fdays.tsms.transaction.action.PlatformbankCardPaymentListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="platformbankCardPaymentBiz">
			<ref bean="platformbankCardPaymentBiz" />
		</property>
	</bean>
	
	<!-- 操作员交易(报)表  ListAction -->
	<bean name="/transaction/optTransactionList"
		class="com.fdays.tsms.transaction.action.OptTransactionListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="optTransactionBiz">
			<ref bean="optTransactionBiz" />
		</property>
	</bean>
	

	<!-- /////////////////////////Biz、Dao////////////////////////////////// -->
	<bean name="paymentToolBiz"
		class="com.fdays.tsms.transaction.biz.PaymentToolBizImp"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="paymentToolDAO">
			<ref bean="paymentToolDAO" />
		</property>
	</bean>
	<bean id="paymentToolDAO"
		class="com.fdays.tsms.transaction.dao.PaymentToolDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="accountBiz"
		class="com.fdays.tsms.transaction.biz.AccountBizImp" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="accountDAO">
			<ref bean="accountDAO" />
		</property>
	</bean>
	<bean id="accountDAO"
		class="com.fdays.tsms.transaction.dao.AccountDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="companyBiz"
		class="com.fdays.tsms.transaction.biz.CompanyBizImp" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="companyDAO">
			<ref bean="companyDAO" />
		</property>
	</bean>
	<bean id="companyDAO"
		class="com.fdays.tsms.transaction.dao.CompanyDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="platformBiz"
		class="com.fdays.tsms.transaction.biz.PlatformBizImp"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="platformDAO">
			<ref bean="platformDAO" />
		</property>
	</bean>
	<bean id="platformDAO"
		class="com.fdays.tsms.transaction.dao.PlatformDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="platComAccountBiz"
		class="com.fdays.tsms.transaction.biz.PlatComAccountBizImp"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="platComAccountDAO">
			<ref bean="platComAccountDAO" />
		</property>
	</bean>
	<bean id="platComAccountDAO"
		class="com.fdays.tsms.transaction.dao.PlatComAccountDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="agentBiz"
		class="com.fdays.tsms.transaction.biz.AgentBizImp" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="agentDAO">
			<ref bean="agentDAO" />
		</property>
	</bean>
	<bean id="agentDAO"
		class="com.fdays.tsms.transaction.dao.AgentDAOImp" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="statementBiz"
		class="com.fdays.tsms.transaction.biz.StatementBizImp">
		<property name="statementDAO">
			<ref bean="statementDAO" />
		</property>
		<property name="airticketOrderDAO">
			<ref bean="airticketOrderDAO" />
		</property>
		<property name="flightDAO">
			<ref bean="flightDAO" />
		</property>
		<property name="agentDAO">
			<ref bean="agentDAO" />
		</property>
		<property name="ticketLogDAO">
			<ref bean="ticketLogDAO" />
		</property>
		<property name="passengerDAO">
			<ref bean="passengerDAO" />
		</property>
	</bean>
	<bean id="statementDAO"
		class="com.fdays.tsms.transaction.dao.StatementDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- 银行卡收付款表  DAO Biz -->
	<bean id="bankCardPaymentBiz"
		class="com.fdays.tsms.transaction.biz.BankCardPaymentBizImp">
		<property name="bankCardPaymentDAO">
			<ref bean="bankCardPaymentDAO" />
		</property>
	</bean>
	<bean id="bankCardPaymentDAO"
		class="com.fdays.tsms.transaction.dao.BankCardPaymentDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
		<!-- 平台银行卡收付款表  DAO Biz -->
	<bean id="platformbankCardPaymentBiz"
		class="com.fdays.tsms.transaction.biz.PlatformbankCardPaymentBizImp">
		<property name="platformbankCardPaymentDAO">
			<ref bean="platformbankCardPaymentDAO" />
		</property>
	</bean>
	<bean id="platformbankCardPaymentDAO"
		class="com.fdays.tsms.transaction.dao.PlatformbankCardPaymentDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- 平台银行卡收付款表  DAO Biz -->
	<bean id="optTransactionBiz"
		class="com.fdays.tsms.transaction.biz.OptTransactionBizImp">
		<property name="optTransactionDAO">
			<ref bean="optTransactionDAO" />
		</property>
	</bean>
	<bean id="optTransactionDAO"
		class="com.fdays.tsms.transaction.dao.OptTransactionDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
</beans>